.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

/* SCREEN (<=767PX) */
@media screen and (max-width:767px){

  .row{
    width: 100%;
  }

  .row h1{
    font-size: 40px;
    padding-top: 10px;
  }

  .row h3{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 25px;
  }
}
/* /SCREEN (<=767PX) */

/* SCREEN (768PX)><(991PX) */
@media screen and (min-width:768px) 
and (max-width: 991px){
  .row{
    width: 100%;
  }
}
/* /SCREEN (768PX)><(991PX) */

/* SCREEN (>=992PX) */
@media screen and (min-width:992px){
  .row{
    width: 100%;
  }
}
/* /SCREEN (>=992PX) */

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 10px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
